@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 6px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  transform: translateX(-1rem);
}

@keyframes l5 {
    0%  {box-shadow: 10px 0 #000, -10px 0 #0002;background: #000 }
    33% {box-shadow: 10px 0 #000, -10px 0 #0002;background: #0002}
    66% {box-shadow: 10px 0 #0002,-10px 0 #000; background: #0002}
    100%{box-shadow: 10px 0 #0002,-10px 0 #000; background: #000 }
}